/* register.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    color: #333;
}

main {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 등록 버튼 크기 조정 */
.form-group button {
    background-color: #0056b3; /* 버튼 배경색 */
    color: #fff; /* 글자 색상 */
    border: none; /* 테두리 없앰 */
    border-radius: 4px; /* 테두리 둥글게 */
    padding: 10px 25px; /* 패딩을 줄여서 버튼 크기 축소 */
    font-size: 14px; /* 폰트 크기 조정 */
    cursor: pointer; /* 커서 포인터로 변경 */
    display: block; /* 블록 요소로 설정하여 중앙 정렬 적용 */
    margin: 0 auto; /* 좌우 마진을 자동으로 설정하여 중앙 정렬 */
}


.form-group button:hover {
    background-color: #2c3e50;
}

footer {
    text-align: center;
}

footer button {
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 18px; /* 패딩을 줄여서 버튼 크기 축소 */
    font-size: 14px; /* 폰트 크기 조정 */
    cursor: pointer;
}

footer button:hover {
    background-color: #0056b3;
}
