<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>권한 설정</title>
    <link rel="stylesheet" th:href="@{/css/menu/sidebar.css}"> <!-- 기본 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/access/assign-role.css}"> <!-- 프로필 스타일 시트 -->
</head>
<body>
<div class="container">
    <!-- 사이드바 프래그먼트 포함 -->
    <div th:replace="~{menu/sidebar :: sidebar}" class="sidebar"></div>

    <!-- 메인 콘텐츠 영역 -->
    <div class="main-content">
        <h1>권한 설정</h1>
        <!-- 사용자 목록을 보여줍니다 -->
        <table>
            <thead>
            <tr>
                <th>사용자 이름</th>
                <th>현재 권한</th>
                <th>권한 할당</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td>
                    <ul>
                        <li th:each="role : ${userRolesMap[user.id]}" th:text="${role.role.name}"></li>
                    </ul>
                </td>
                <td>
                    <form th:action="@{/access/assign-role}" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}" />
                        <select name="roleName" required>
                            <option th:each="role : ${availableRoles}"
                                    th:value="${role.name}"
                                    th:text="${role.name}">Select Role</option>
                        </select>
                        <button type="submit">할당</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
